/*--------Tag Selector------------*/


body {
  background-color: #eaf6f6;
}

hr {
  border-color: grey;
  border-width: 5px;
  border-style: none;
  border-top-style: dotted;
  width: 10%;
}

h1 {
  color: #4d8b8b;
}

h3 {
  color: #66bfbf;
}

/*--------Class Selector------------*/
.circular {
    border-radius: 100%;
}